html {

    background-color: black;
}



body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    color: #242424;
    background: #fff;
}

h1 { 
    font-size: 3em;
    margin: 0px; 
    padding: 0px;
    color: white;

}

h2 {

   text-align: center;
}

h3{
    text-align: center;
}

h4{

    padding-left: 15px;
}

p {
line-height: 1.4em;

}


#Macbook1 {
 float: left;
 margin-right: 15px;
 margin-top: 15px;


  
}


#Iphone14 {
     float: left;
     margin-right: 10px;
     margin-top: 10px;
     border: 3px solid black;
}

#joepic{

    float:left;
    margin-right: 10px;
    border: 5px solid black;
}

.time1{
    text-align: center;
}




#table1, th, td{

   margin-left: auto;
   margin-right: auto;
   border: 1px solid black;
  
}

.blog-post{

border-bottom: 1px dashed #ccc;

}

#blog {

  display: flex;
  flex-direction: column;
  
  padding:  20px;
  margin: 20px;
 
 
}

article {
  
  padding: 20px;
  margin: 20px;
  
}

#author1 {

    align-items: center;
}


form{

    padding-left: 15px;
}

/* links */

a {

text-decoration: none;
list-style: none;
font-weight: bold;
color: black;

}


a:visited {

color: darkgray;

}


a:hover {

text-decoration: underline;
color: black;

}

ul{



}

form  {
padding-bottom: 15px;

}


#h3about{

    text-align: left;
}



/* Navigation */




#main-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 50px;
    
   

}

#main-nav ul{
    display: flex; 
     
}

#main-nav ul li{
    padding: 0 10px;
    list-style: none;
 
}

#main-nav ul li a{
    padding-bottom: 2px;
    text-decoration: none;
    color: white;
  
}

#main-nav ul li a:hover{
    border-bottom: 2px solid white;
}



#main-nav .main-menu{
    flex: 1;
    margin-left:20px;
  
}

/* media Queries */


@media screen and (max-width: 400px) {
    
#blog{

    display:flex;
    flex-direction: column;
    
}

body{

    background: black;
    color:#fff;
}

a{
    color:#fff;
}

a:hover {

    text-decoration: underline;
    color: #fff;
    
    }


}

